<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<title>Jane Street Tech Blog</title>
<meta name="description" content="Musings from Jane Street's Developers">
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" id="color-change" href="">
<link rel="stylesheet" id="switch-style" href="/css/grid.css">
<link rel="alternate" type="application/rss+xml" title="Jane Street Tech Blog" href="http:/igm-qws-u12775a:8080/feed.xml">

    </head>


</div>

<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="/">Home</a>
                </li>
                <li>
                    <a href="/archive">Archive</a>
                </li>
                <li>
                    <a href="/typography">Typography</a>
                </li>
                <li><a class="dropdown-button" href="#" data-activates='drop-example'>Page Layouts&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                </li>
                <div id="drop-example" class="dropdown-content">
                    <li>
                        <a href="/page-full">page-full</a>
                    </li>
                    <li>
                        <a href="/page-classic-sidebar-right">page classic sidebar right</a>
                    </li>
                    <li>
                        <a href="/page-classic-sidebar-left">page classic sidebar left</a>
                    </li>
                    <li>
                        <a href="/page-material-sidebar-right">page material sidebar right</a>
                    </li>
                    <li>
                        <a href="/page-material-sidebar-left">page material sidebar left</a>
                    </li>
                </div>
                <li>
                    <a href="#colorswitch" class="modal-trigger">Change Colors <i class="fa fa-cog"></i></a>
                </li>
            </ul>
        </nav>
    
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</div>
<div id="colorswitch" class="modal color-change">
    <div class="modal-content">
      <h4>Change Color Palette</h4>
      <p>
  
  </div>
   
                <div class="articles">
  
<article>
<article>
    </div>
</div>
            </div>
        </div>
        <footer>
    <div class="content">
        <span>&copy; gridster</span>
        <span class="backtotop">back to top</span>
    </div>
</footer>
<script src="/js/build/global.min.js"></script>


